# Ignoring everything
*
!*/
/.cache
/.dbus
/.dropbox
/.dropbox-dist
/.gnupg
/.mozilla
/.nv
/.paradoxlauncher
/.ssh
/.steam
/.vscode
/Desktop
/Documents
/Pictures
/Videos
/Documents
/snap
/Music
/Dropbox
/Public
/Projects



# home directory
!/.vim/**
!.vimrc
!.bashrc
!.gitconfig
!gtc.dconf
!.gitignore
!/.fonts/**
!/scripts/**


# .config folder
!.config/fish/**
!.config/gtk-3.0/**
!.config/neofetch/**
!.config/omf/**
!.config/plank/**
!.config/vim/**


# .local folder
!/.local/share/fish/**
!/.local/share/icons/**
!/.local/share/omf/**
!/.local/share/plank/**
!/.local/share/themes/**
